{% load static %}
<a id={{answer.id}}></a>
<br><br>
<div  class="media askme-questionblock askme-higher rounded">
    <div class = "col-2 justify-content-center">
    <div class = "row justify-content-center">
        <img class="mr-3 askme-useravatar rounded" src="{% static 'img/test.jpg'%}">
    </div>

    <div class="col-2 mt-2 ml-2 justify-content-center">
        {{answer.author}}
    </div>

    <div class = "mt-3  row askme-higher">
        <a href="#" class="rounded-left btn-danger askme-likebutton">&#9668;</a>
            <div><span class="form-control">
                {{answer.rating}}
            </span></div>
        <a href="#" class="rounded-right btn-success askme-likebutton">&#9658;</a>
    </div>
    </div>
    
    <div class="media-body ml-3">
        <h5></h5>
    <p>
            {{answer.text |truncatechars:140}} 
    </p>
    <input type="checkbox" id="is_correct">
    <small for="is_correct">Correct?</small>
    </div>
</div>