{% extends "base.html" %}

{% block content %}

<h3>NewQuestions</h3>
<div class="askme-higher">
{% for i in questions %}
<div class="media askme-questionblock askme-higher">
    <img class="mr-3 askme-useravatar rounded" src="/static/img/test.jpg">
    <div class="media-body">
    <h5>How to build MoonPark </h5> 
    <p class>
            {{i}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et mollis neque. Nulla in accumsan sem, vitae pretium risus. Quisque finibus posuere dictum. Vestibulum egestas arcu nec eros volutpat vestibulum. Nulla placerat dui vitae mauris hendrerit accumsan. Curabitur tristique nisl vel fringilla pulvinar. Donec interdum sodales lacus, eget mattis eros egestas gravida. In ligula nunc, ultrices fringilla eleifend eu, consequat non diam. 
    <a class="active" href='/question'>CLICK</a>
    </p>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block js %}
{% endblock js %}