{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-4"><h3>{{title}}</h3></div>
    <div class="col-4"><a href= {% if title == "New questions" %}
        "{% url 'questions_hot' %}"
        {% else %}
        "{% url 'questions_index' %}"
        {%endif%}>
        <h4>{{subTitle}}</h4></a>
    </div>
</div> 
<div class="askme-higher">
{% for question in questions %}
{% include "one-question.html"%}
{% endfor %}
</div>
{% include "paginator.html" with objects=questions %}
{% endblock %}

{% block js %}
{% endblock js %}