{% extends "base.html" %}

{% block content %}
<div class=col-5>
<h3>Log In</h3>

<form method="POST">
    {% csrf_token %}
    <div class="askme-wrong"> {{ form.non_field_errors.0 }}</div>
    {% for field in form.visible_fields %}
        <div class="askme-higher">
        <label for="title">{{field.label}}</label>
        {{field.as_widget}}
        </div>
    {% endfor %}
    
    <!--<div class="row">-->
    <button class="mr-3 btn askme-sign my-3" type="submit">Log In</button>
    <a href="{% url 'questions_signup' %}">Don't have account?</a>
</form>
</div>
{% endblock content %}