{% extends "base.html" %}

{% block content %}
<div class = "col-4">
    <h3>USER_NAME</h3>
    <form action="#">
        <div class = "row askme-higher">
        <div class = "col-3">
            <h5>Login</h5>
        </div>
        <div class = "col">
            <input type="text" placeholder="user_login">
        </div>
        </div>

        <div class = "row askme-higher">
            <div class = "col-3">
                <h5>Email</h5>
            </div>
            <div class = "col">
                <input type="text" placeholder="user_email">
            </div>
        </div>

        <div class = "row askme-higher">
            <div class = "col-3">
                <h5>NickName</h5>
            </div>
            <div class = "col">
                <input type="text" placeholder="user_nickname">
            </div>
        </div>

        <div class = "row askme-higher">
            <img src="/static/img/test.jpg" class="askme-useravatar">
        </div>

        <button class="btn askme-sign" type="submit">Save</button>
    </form>
</div>
{% endblock content %}