{% extends "base.html" %}

{% block content %}
<div class="col-5">
<h3>Registration</h3>
    <form method="POST">
        <div class="askme-wrong askme-higher">{{ form.non_field_errors.0}}</div>
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="title">{{field.label}}</label>
                {{field.as_widget}}
            </div>
        {% endfor %}
        <button type="submit" class="askme-sign btn" name="SignUp">SignUp</button>
</div>
{% endblock content %}