body {
    padding-top: 5rem;
  }

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
/* Блок вопроса на главной странице*/
.askme-questionblock
{
    background: #d8a95f;
    padding: 5px;
    color: black;
}
.askme-useravatar
{
    width: 64px;
    height: 64px;
    margin-top: 10px;
}

.askme-navbg
{
    background: #29477F; /*1E0050*/
}
.askme-sign
{
    background: turquoise;
    color: white;
    font-weight: bold;
    margin: 2px;
}
.askme-higher
{
    margin-top: 4%;
    margin-bottom: 4%;
}
div.tags
{
    background: darkslategrey;
    color: wheat;
}
